.cuerpo-error {
    margin : 0 ;
    padding : 0 ;
    min-height: 100vh;
    background-color:  rgb(172, 83, 83)
}

.container-error{
    width: 100% ;
    position: absolute;
    top: 10%;
    
    text-align: center;
}

.contenido-error{
    font-size: 160px;
    margin : 0 ;
    font-weight: 700;
}