.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;

    background-image :
   
   url( 'https://i.pinimg.com/originals/dc/35/fd/dc35fd515ef860bd8da7b0052af84808.jpg') ;
   
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgb(73, 54, 54);
    font-size: 62px;
    
}

.banner p {
    color: rgb(195, 200, 204);

    font-weight: 500;
}