.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;

    background-image:
   
   url(https://images.pexels.com/photos/2736497/pexels-photo-2736497.jpeg);
   background-color:rgba(0, 0, 0, 0.603);
   
   
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: rgba(4, 39, 7, 0.779);
    text-shadow: 1px 1px 3px rgb(157, 245, 184);
    font-size: 65px;
    text-align: left;
    margin: 10px 20px;
    font-weight: 600;
    
}

.banner p {
    color: rgba(0, 0, 0, 0.806);
    text-align: left;
    margin: 10px 20px;
    font-size: 45px;
    font-weight: 300;
    
}