.card > img{ 
     height: 100px;
     width: 100px; 
     border-color: black;
     margin: 10px;
    
}

.card  button {
     border: none;
     outline: 0;
     padding:10px ;
     color:rgb(237, 237, 237) ;
     background-color: rgb(7, 47, 26);
     width: 50%;
     font-size: 15px;
     cursor: pointer;
    
}
.card button:hover {
     background-color: rgba(28, 90, 33, 0.779);
}

.card {
    margin :10px ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.534);
    background-image: url(/public/img/card.png);
    
}

.card p {
     display: flex;
     justify-content: space-between;
     height: 220px;
     margin: 2rem;
     width: 300px;
     margin-bottom: 10px;
     padding: 10px;
     border-radius: 4px;
     text-align: center;
 }

 .product-card-container {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 50px;
     text-align: center;
 }
 

